# LOCKED POSITION RANDOMIZED DATA

FILENAME: budget_randomized.ipynb
    
PROJECT: Randomized Data Model

DATE CREATED: 27-MAY-20

DATE UPDATED: 27-MAY-20

## PHASE 1: PROJECT SETUP

Import the necessary libraries needed for ETL, engineering, and export efforts

In [1]:
import pandas as pd
import csv
import random
import sqlite3
import itertools
import numpy as np
import datetime
import time as t
import getpass as gp

In [2]:
def init_array(df_length):
    '''
    DESCRIPTION: A function to create and return a two_dimensional array with randomized float values
    '''
    length = df_length
    yr3_forecast= np.random.randint(low = 100000, high = 30000000, size = df_length) 
    
    yr2_random = np.random.uniform(low=0.5, high=1.3, size=df_length)
    yr2_forecast = np.round(yr3_forecast * yr2_random,2)
    
    yr1_random = np.random.uniform(low=0.8, high=1.2, size=df_length)
    yr1_forecast = np.round(yr2_forecast * yr1_random,2)
    
    plan_random = np.random.uniform(low=0.6, high=1.3, size=df_length)
    plan_val = np.round(yr1_forecast * plan_random,2)
    
    approp_random = np.random.uniform(low=0.6, high=1.2, size=df_length)
    approp_val = np.round(plan_val * approp_random,2)
    
    oblig_random = np.random.uniform(low=0.8, high=1.0, size=df_length)
    oblig_val = np.round(approp_val * oblig_random,2)
    
    raw_df = pd.DataFrame(columns=['yr+3_forecast','yr+2_forecast','yr+1_forecast','yr0_plan','yr-1_approp','yr-2_oblig'])

    raw_df['yr+3_forecast'] = yr3_forecast
    raw_df['yr+2_forecast'] = yr2_forecast
    raw_df['yr+1_forecast'] = yr1_forecast
    raw_df['yr0_plan'] = plan_val
    raw_df['yr-1_approp'] = approp_val
    raw_df['yr-2_oblig'] = oblig_val
    
    return raw_df

In [3]:
train_df = init_array(10000)
train_df.tail(10)

,yr+3_forecast,yr+2_forecast,yr+1_forecast,yr0_plan,yr-1_approp,yr-2_oblig
9990,21712211,15695224.87,16538944.34,14486761.42,15506916.90,15089418.93
9991,18154636,14894816.53,16082311.67,20047364.35,14293789.49,11840547.07
9992,9713696,7024926.81,8409721.42,6931189.61,5235482.98,4240751.97
9993,24067845,26344741.67,24888264.97,31991446.55,30457759.61,29778355.64
9994,21691973,15646364.92,14736489.42,19115763.03,20850863.78,19617668.57
9995,1742414,2107938.43,2412094.05,1545168.42,1265411.13,1112808.21
9996,16383913,16237318.53,17286663.87,16301175.37,12997397.29,12464665.01
9997,24098619,14206182.32,14628833.61,15826915.16,14059470.28,13741897.54
9998,27233301,20546724.84,19173596.93,13624747.00,14407270.22,13518770.81
9999,14065468,7517127.91,8576241.33,7699673.90,5362111.57,5222091.71

In [ ]:
train_df.to_csv(r'locked_random_data_v1', index = False)